/* (c) Copyright PowderCloud Software Inc. 2010. ALL RIGHTS RESERVED. */

/* Colors */
/* blue: 81ced2, dark grey 222222 */

/* HTML Elements */
HTML {
	height: 100%;
}

BODY {
	padding: 0;
	margin: 0;
	background: #FFFFFF url('/img/bg.png') repeat-x top right;
	height: 100%;
}

blockquote {
	font-size: 1.2em;
	color: #999;
	background: transparent url("/static/img/blockquote.png") no-repeat scroll 0 0;
	display: block;
	margin: 40px 0;
	padding: 10px 20px 10px 40px;
}

/*
H1 { font-size: 1.9em; margin: 0 0 5px 0; padding: 0; color: #cc6d0f; }
H2 { font-size: 1.4; margin: 0 0 5px 0; padding: 0; color: #cc6d0f; }
H3 { font-size: 1.1; margin: 0 0 5px 0; padding: 0; color: #cc6d0f; }
A { color: #2A7597; }
A:hover { color: #CC6D0F; text-decoration: none; }
P { padding: 0; margin: 0; }
TABLE { width: 99%; border-collapse:collapse; border: 1px solid #cccccc; }
TH { font-size: 0.9em; font-weight: bold; color: #666666; padding: 5px; background-color: #f1f1f1; text-align: left; border: 1px solid #cccccc; }
TD { font-size: 0.85em; color: #666666; padding: 5px; border: 1px solid #cccccc; }
*/
FIELDSET {
	margin-top: 10px;
	border: 1px solid #E8F4F4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: transparent url("/static/img/bg-formrow.png") repeat-x left bottom;
}

FIELDSET LEGEND {
	padding: 4px 10px;
	color: #61aeb2;
	font-variant: small-caps;
}

FORM P {
	margin-bottom: 4px;
}

/* Global / Generic */
#dvBodyWrap {
	width: 1000px;
	margin: 0 auto -160px;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.dvLoading {
	padding: 20px;
	text-align: center;
}

.dvLoading IMG {
	margin-bottom: 20px;
}

.dvClear {
	clear: both;
}

.dvHidden {
	position: absolute;
	top: 0;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.dvNone {
	display: none;
}

.pad_10_5 {
	padding: 10px 5px;
}

/* Texts */
.txtR {
	text-align: right;
}

.txtTiny {
	font-size: 0.7em;
}

.flL {
	float: left;
}

.flR {
	float: right;
}

.pHover {
	background-color: #f0f0f0;
}

.brC {
	clear: both;
}

/* Images */
.img {
	border: 0;
	margin: 0;
}

.imgTool {
	width: 23px;
	height: 20px;
	vertical-align: middle;
}

.imgMid {
	vertical-align: middle;
}

.img98x11 {
	width: 98px;
	height: 11px;
}

.img98x14 {
	width: 98px;
	height: 14px;
}

.img98x22 {
	width: 98px;
	height: 22px;
}

.imgPhotoTerrain2 {
	width: 400px;
	height: 400px;
	border: 1px solid #f0f0f0;
}

/* Tables */
.tbl {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

.tbl TH {
	font-size: 0.9em;
	font-weight: bold;
	color: #666666;
	padding: 5px;
	background-color: #f1f1f1;
	text-align: left;
	border: 1px solid #cccccc;
}

.tbl TH.c {
	text-align: center;
}

.tbl TD {
	font-size: 0.85em;
	color: #666666;
	padding: 5px;
	border: 1px solid #cccccc;
}

.tbl TD.c {
	text-align: center;
}

.trOdd {
	background-color: #fafafa;
}

.trEven {
	background-color: #fefefe;
}

.trHover {
	background-color: #f6f6f6;
}

/* Client Lib CSS overrides */
.ui-daterangepickercontain {
	font-size: 10pt;
}

.ui-widget {
	font-size: 10pt;
}

.ui-widget P {
	font-size: 0.9em;
}

.ui-button {
	font-size: 10pt;
}

.ui-button-text {
	padding: 2px;
}

/* New Template Header */
#dvHeader {
	height: 119px;
	color: #ccc;
	background-color: #222;
}

#dvHeadNavUpper {
	height: 29px;
	font-size: 1.2em;
	color: #999;
	text-align: right;
	font-weight: normal;
}

#dvHeadNavUpper STRONG {
	color: #fff;
}

#dvHeadNavUpper A {
	color: #ccc;
}

#dvHeadNavLower {
	height: 90px;
	font-size: 1.2em;
	color: #999;
	text-align: right;
	font-weight: normal;
}

#dvHeadLogo {
	float: left;
	margin-top: 10px;
}

#dvHeadLogo P {
	margin-left: 20px;
}

/* Nav */
#ulNav {
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	float: right;
	width: 670px;
	/* 6 x 110+5+5+1 */
	text-align: right;
}

#ulNav UL {
	list-style: none;
	margin: 0;
	padding: 0;
}

#ulNav .liNav1 {
	float: left;
	text-align: right;
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #87C9C5;
	display: block;
	height: 60px;
	width: 100px;
	color: #f00;
}

#ulNav .liNavFirst {
	border-left: none;
}

#ulNav strong {
	display: block;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
}

#ulNav span {
	display: block;
	color: #999;
	font-size: 10px;
}

/* Sub nav */
.dvMenuSub {
	margin: 0;
	border: 3px solid #222;
	color: #555;
	background-color: #81ced2;
	clear: both;
	display: block;
	z-index: 10000;
	position: absolute;
	padding: 10px;
}

.dvMenuSub DIV {
	width: 200px;
	float: left;
	margin: 0 10px;
}

.dvMenuSubSep {
	border-right: 1px solid #cccccc;
}

#dvMenuSub1 {
	margin-left: -600px;
	width: 880px;
}

/* Left margins are 0 - half the width + half the width of menu LI (55px) */
#dvMenuSub1 DIV {
	width: 178px;
}

#dvMenuSub2 {
	margin-left: -500px;
	width: 660px;
}

#dvMenuSub3 {
	margin-left: -330px;
	width: 660px;
}

#dvMenuSub4 {
	margin-left: -120px;
	width: 220px;
}

.dvMenuSub H3 {
	font-size: 1.2em;
	color: #444;
	border-bottom: 1px solid #444;
}

.dvMenuSub A {
	color: #444;
}

.dvMenuSub A:hover {
	color: #000;
	text-decoration: underline;
}

/* public site menu */
#dvMenuSub10 {
	margin-left: 0;
	width: 110px;
}

/* Left margins are halft the width + half the width of menu LI (55px) */
#dvMenuSub11 {
	margin-left: 0;
	width: 110px;
}

/* Breadcrumbs */
#dvCrumbs {
	clear: both;
}

#dvCrumbs DIV {
	font-size: 0.9em;
	color: #666;
	padding: 8px 10px;
	border-bottom: 1px solid #e0e0e0;
	margin-top: 0;
	background-color: #f9f9f9;
	text-align: left;
}

#dvCrumbs A {
	color: #61aeb2;
	text-decoration: none;
}

#dvCrumbs A:hover {
	color: #317e82;
	text-decoration: underline;
}

/* New Template Footer */
.dvFooterForce {
	height: 160px;
}

#dvFooterWrap {
	height: 160px;
	background-color: #222;
}

#dvFooter {
	width: 1000px;
	margin: 0 auto;
}

.dvFooterCol {
	float: left;
	margin: 15px 20px 20px;
	max-width: 200px;
}

.dvFooterCol UL,
.dvFooterLegal UL {
	list-style: none;
	margin: 0;
	padding: 0;
}

#dvFooter .header {
	color: #fff;
	font-size: 1.1em;
	border-bottom: 1px solid #666;
}

#dvFooter a {
	color: #999;
	text-decoration: none;
}

#dvFooter a:hover {
	color: #fff;
	text-decoration: underline;
}

.dvFooterLegal {
	color: #888888;
	float: right;
	font-size: 11px;
	margin: 14px 7px;
	padding: 2px 0 3px;
	text-align: right;
	width: 200px;
}

/* Template Header */
/*
#dvHeader { margin-top: 5px; border-top: 1px solid #cccccc; background: #ffffff url( "/static/img/header-gradient.gif" ) repeat-y  top left; padding: 10px 0px 10px 20px; font-size: 0.7em; }
.dvHeaderProfile { float: right; text-align: left; width: 250px; }
.dvHeaderOperations { padding-top: 10px; float: right; text-align: right; }
.dvHeaderRight { padding-top: 10px; float: right; text-align: right; width: 700px; }
.dvHeaderOperations { text-align: left; float: left; width: 250px; padding: 0 10px; }
.dvHeaderProfile { float: left; width: 250px; padding: 0 10px; }
.dvHeaderImage { float: right; width: 110px; }
.pHeaderLogo { padding-top: 0px; color: #1357BD; font-size: 1.8em; font-family: Impact, Arial, Times; font-stretch: expanded; }
.pHeaderTagline { color: #1357BD; font-size: 1.2em; font-family: Arial, Times; }
.dvBreadCrumbs { background-color: #F6F9FB; color: #666666; font-size: 0.8em; font-family: Arial, Times; }
.dvBreadCrumbs DIV { margin: 10px 0; padding: 5px; }
*/
.dvFlash P {
	padding: 5px 10px;
	font-size: 10pt;
}

.aFlashClose {
	float: right;
	margin-top: 5px;
}

/* Banner menu */
/*
	.dvHeaderMenu .ui-corner-all { font-size:1em; }
	.fg-button { margin:10px 10px 0 0; padding:5px; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	a.fg-button { float:left; }
	button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE * /
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; } /* solo icon buttons must have block properties for the text-indent to work * /
	.fg-button.ui-state-loading .ui-icon { background: url( "/static/img/fg.spinner_bar.gif" ) no-repeat 0 0; }

	.dvHeaderMenu LI { padding-bottom: 4px; line-height: 1.2em; }
	.dvHeaderMenu UL { padding-left: 20px; line-height: 1.2em; }
	*/

/* Template Content / Body */
#dvContent {
	font-size: 0.8em;
	margin-top: 10px;
	border: 1px solid #cccccc;
	background: #fcfcfc;
	padding: 10px;
}

#dvContent P {
	margin: 4px 0;
}

.dvSiteBody {
	font-size: 1.3em;
	margin-top: 20px;
	padding: 5px 10px;
}

.dvSiteBody STRONG {
	font-weight: bold;
}

.dvSiteBody H1 {
	font-size: 1.9em;
	margin: 0 0 5px 0;
	padding: 0;
}

.dvSiteBody H2 {
	font-size: 1.4em;
	margin: 0 0 3px 0;
	padding: 0;
}

.dvSiteBody H3 {
	font-size: 1.1em;
	margin: 0 0 0 0;
	padding: 0;
}

.dvSiteBody P {
	line-height: 1.1em;
}

.dvSiteBody A {
	text-decoration: underline;
}

.dvSiteBody H2 A,
.dvSiteBody H3 A {
	text-decoration: none;
}

.dvSiteBodyL {
	position: relative;
	width: 490px;
	float: left;
	margin-right: 38px;
	margin-bottom: 20px;
}

.dvSiteBodyR {
	position: relative;
	width: 450px;
	float: left;
	margin-right: 0;
	margin-bottom: 20px;
	clear: right;
}

/* Template Footer */
/*
#dvFooter { margin-top: 10px; font-size: 0.5em; color: #666666; padding: 5px; border-top: 1px solid #999999; text-align: center; }
.dvFooterLinks { font-size: 1.5em; padding-bottom: 3px; }
*/

/* Forms */
FORM P {
	padding: 4px 0 5px 0;
	clear: both;
	border-bottom: 1px solid #eee;
}

LABEL {
	width: 20%;
	display: block;
	float: left;
	text-align: left;
	padding: 0 10px 0 0;
}

LABEL.dis {
	width: auto;
	display: inherit;
}

.spRequired {
	color: #2A7597;
}

.spRequiredKey {
	color: #2A7597;
}

.pTransp {
	background: none;
	border: none;
}

P.error {
	background-color: #ffcccc;
	border: 1px solid #ff0000;
}

.errorlist {
	margin: 0 0 0 23%;
	padding: 0;
	font-size: 0.8em;
	color: #ff3333;
}

.frmInline {
	border: 1px solid #cccccc;
	padding: 10px;
	margin: 20px 0 30px 0;
}

.dvGroupHead {
	border-bottom: 1px solid #a6c9e2;
}

.dvGroupBody {
	font-size: 0.9em;
	padding: 5px 20px 15px 20px;
}

FORM P.pRO {
	background-color: #fcfdfd;
	padding: 0 0 5px 0;
	clear: both;
}

FORM P SELECT {
	width: 20%;
}

/* New form layout */
.frmN FIELDSET {
	padding: 5px 8px 10px 8px;
}

.frmN LABEL {
	float: none;
	text-align: left;
	width: auto;
	margin-bottom: 3px;
}

.frmN INPUT {
	margin-left: 15px;
}

.frmN STRONG {
	margin-left: 15px;
	font-weight: bold;
}

.frmN .spRequiredKey {
	margin-left: 20px;
}


/* Observations specific (Filter, etc.) */
.dvFilterWrap {
	margin: 10px 0;
}

#dvFilterHead {
	cursor: pointer;
	background-color: #ddd;
	padding: 5px 10px;
}

.dvFilterHeadClosed {
	border: 1px solid #ddd;
}

.dvFilterHeadOpen {
	border: 1px solid #ddd;
	border-bottom: none;
}

#dvFilter {
	font-size: 0.8em;
	padding: 20px;
	border: 1px solid #ddd;
	border-top: none;
}

#dvFilter DIV {
	float: left;
	margin-right: 20px;
}


/* Reports / Charts */
.dvDashboardChart {
	height: 250px;
	margin: 0 auto 10px;
}

.dvReportSep {
	height: 15px;
	border-bottom: 1px solid #d7e9ea;
	margin-bottom: 10px;
}

/* Google Maps / GIS */
.dvGISToolbar {
	background-color: #f6f9fb;
	padding: 4px;
}

.dvGISToolbar DIV {
	margin-right: 5px;
	display: block;
	float: left;
}

.hand_b {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Bsu.png");
}

.hand_b_selected {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Bsd.png");
}

.placemark_b {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Bmu.png");
}

.placemark_b_selected {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Bmd.png");
}

.line_b {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Blu.png");
}

.line_b_selected {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Bld.png");
}

.shape_b {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Bpu.png");
}

.shape_b_selected {
	width: 31px;
	height: 31px;
	background-image: url("http://google.com/mapfiles/ms/t/Bpd.png");
}

/* Pagination */
.dvPag {
	font-size: 0.8em;
	color: #666;
	background-color: #d9f6f7;
	border: 1px #d6dfcf solid;
	width: 25%;
	padding: 7px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.dvPag A {
	color: #666;
}

.dvPag A.button-blue {
	color: #000;
	padding: 2px 6px;
}

.frmPag {
	display: inline;
}

.frmPag INPUT {
	width: 20px;
}

/* Layouts */
.dv2Col {
	padding-top: 50px;
	background: transparent url("/static/img/site/bg-div.png") no-repeat center;
}

/*.dv2Col LABEL { width: 33%;
	display: block;
	font-weight: bold;
	color: #999;
	font-size: 1.05em;
	width: auto;
	background-color: transparent;
}
*/
.dv2ColL {
	float: left;
	width: 45%;
}

.dv2ColR {
	float: right;
	width: 45%;
}

.remotecheckboxgroup input,
.remotecheckboxgroup .x-form-cb-label,
.remotecheckboxgroup .x-form-check-wrap {
	float: left;
}

.remotecheckboxgroup input {
	margin-top: 5px;
}