/* CSS for public site */
BODY {
    font-size: 0.8em;
    background-color: #FFFFFF;
}

H1 {
    font-size: 1.9em;
    margin: 0 0 5px 0;
    padding: 0;
    color: #61aeb2;
}

H2 {
    font-size: 1.5em;
    margin: 0 0 5px 0;
    padding: 0;
    color: #61aeb2;
}

H3 {
    font-size: 1.1em;
    margin: 0 0 5px 0;
    padding: 0;
    color: #317e82;
}

H3 A {
    color: #317e82;
    text-decoration: none;
}

A {
    text-decoration: underline;
}

A:hover {
    text-decoration: none;
}

.box {
    position: relative;
    margin-right: 50px;
    float: left;
    overflow: hidden;
    padding-bottom: 10px;
}

.box_small {
    width: 200px;
}

.box_last {
    margin: 0;
}

FIELDSET {
    margin-top: 10px;
    border: 1px solid #E8F4F4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

FIELDSET LEGEND {
    padding: 4px 10px;
    color: #61aeb2;
    font-variant: small-caps;
}

FORM P {
    margin-bottom: 4px;
}

INPUT,
SELECT {
    margin-left: 15px;
}

LABEL {
    float: none;
}

.txtTiny {
    margin: 0;
    padding: 0;
}

.errorlist {
    margin-left: 39%;
}

.pDisclaim {
    color: #999;
    font-size: 0.8em;
    padding-top: 20px;
}